.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
  }

  form {
    width: 30%;      
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

input {
    width: 75%;             
    padding: 8px;            
    font-size: 20px;   

}